<?xml version="1.0" ?>
<!-- Config file for PHPUnit automated tests -->
<phpunit
        bootstrap="phpunit-bootstrap.php"
        cacheTokens="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>test</directory>
        </testsuite>
    </testsuites>
</phpunit>
